body{
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons{
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.save {
  background: green;
  color: white;
}

.discard {
  background: red;
  color: white;
}

button:hover {
  background: rgba(0, 0, 0, 0.2); /* A slight darkening effect on hover */
  transform: scale(1.05);
}

#networkCanvas{
  background: black;
}
#carCanvas{
  background: lightgray;
}